@charset "utf-8";
body center {
}
body center h1 {
    font-style: normal;
    font-weight: 400;
    font-family: eb-garamond;
    font-variant: normal;
    font-size: 32px;
}
body center p {
    font-family: Arial;
    font-weight: 400;
    font-variant: normal;
    font-style: normal;
    font-size: 20px;
    color: #000000;
    line-height: normal;
}
